.idea/
.vscode/
*.sw*
*.iml
# The file containing environment variables
**/venv

# Ignore Logs
logs.
*.log

# other
lesson_api/less_1/probe.py
__pycache__
Thumbs.db
.DS_Store
probe.py

# config  files
auth.py
config.py
*.env
